extends: standard
env:
  es6: true
rules:
  prefer-const: off
  promise/param-names: off
  generator-star-spacing:
    - error
    - before: false
      after: false
  space-before-function-paren:
    - error
    - anonymous: never
      asyncArrow: always
      named: never
  semi:
    - error
    - always
