parser: babel-eslint
extends:
  - ../.eslintrc
  - plugin:react/recommended
  - plugin:cypress/recommended
plugins:
  - react
settings:
  react:
    version: detect
env:
  browser: true
rules:
  react/prop-types: off
